
<!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
      <img
        class="brand-logo"
        src="assets/logo-positronx-white.svg"
        alt="positronX.io Logo"
      />
    </a>
  </nav> -->
  <!-- Sidebar navigation -->
  <!-- <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active">
                <i class="fas fa-user"></i>User Profile
              </a>
            </li> -->
            <!-- Calling SignOut() Api from AuthService -->
            <!-- <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i>Log out
              </a>
            </li>
          </ul>
        </div>
      </nav> -->

<!-- Navbar-->
<header class="header">
  
        <nav class="navbar bg-white ">
            <div class="container-fluid">
                            <img class=" img-thumbnail logo" src="/assets/IS logo.png" alt="Logo" style="width: 6rem; height: 4rem;" class=" mx-5 d-inline-block align-text-top">
              <a class="navbar-brand" routerLink="/ClientHome"><h2>Billing System</h2></a>
              
              <!-- hn3ml hena conditiobal rendering 3ala 7asa el user type  -->
              <app-menu-client></app-menu-client>
              <!-- <app-menu-provider></app-menu-provider> -->
            </div> 
          </nav>
    <br>
</header>


