<header class="header">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <img
        class="img-thumbnail logo"
        src="/assets/IS logo.png"
        alt="Logo"
        style="width: 6rem; height: 4rem"
        class="mx-5 d-inline-block align-text-top"
      />
      <a class="navbar-brand" routerLink="/ClientHome"
        ><h2>Billing System</h2></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li className="nav-item active">
            <a
              routerLink="/ProviderHome"
              className="nav-link active text-dark"
              aria-current="page"
              >Home</a
            >
          </li>
          <li className="nav-item">
            <a routerLink="/ProviderAddBundle" className="text-dark">Bills</a>
          </li>
          <li className="nav-item">
            <a routerLink="/ProviderProfile" className="text-dark"
              ><span className="glyphicon glyphicon-user"></span> My Profile</a
            >
          </li>
          <li className="nav-item">
            <a routerLink="/sign-in" className="text-dark"
              ><span className="glyphicon glyphicon-log-in"></span> Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
</header>
